<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<br>

<div class="container">
    <h3>¿Qué estás buscando?</h3>
    <br>

    <div class="row">
        <div class="col ">
            <a th:href="@{/plomeros}" role="button" style="color:black;text-decoration:none;">
                <div class="card columna" style="width: 13rem;text-align:center;padding:15px;">
                    <img th:src="@{/images/plomero.png}" class="card-img-top" alt="plomeros">
                    <div class="card-body text-center">
                        <h5 class="card-title">PLOMEROS</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col ">

            <a th:href="@{/gasistas}" role="button" style="color:black;text-decoration:none;">
                <div class="card columna" style="width: 13rem;text-align:center;padding:15px; ">
                    <img th:src="@{/images/gasista.png}" class="card-img-top" alt="gasista">
                    <div class="card-body text-center">
                        <h5 class="card-title">GASISTAS</h5>
                    </div>
                </div>
            </a>

        </div>
        <div class="col">
            <a th:href="@{/electricistas}" role="button" style="color:black;text-decoration:none;">
                <div class="card columna" style="width: 13rem;text-align:center;padding:15px; ">
                    <img th:src="@{/images/elect.png}" class="card-img-top" alt="electricista">
                    <div class="card-body text-center">
                        <h5 class="card-title">ELECTRICISTAS</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a th:href="@{/albaniles}" role="button" style="color:black;text-decoration:none;">
                <div class="card columna" style="width: 13rem; text-align:center;padding:10px;background: #E2D1DB">
                    <img th:src="@{/images/albanil.png}" class="card-img-top" alt="albañil">
                    <div class="card-body text-center">
                        <h5 class="card-title">ALBAÑILES</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<hr style="margin-left:5%; margin-right:11%;"/>
<div  class="container">
    <ul th:each="usuario: ${listado}" class="list-group list-group-flush">
        <a href="#">
        <li th:text="${usuario.nombre}+' '+${usuario.apellido}" class="list-group-item"></li>
        </a>
    </ul>

        <h4 th:if="${listado.isEmpty()}">No hay albañiles registrados.</h4>

</div>

<br><br><br><br><br><br><br><br>



<footer th:replace="layout/layout :: footer"></footer>

</body>


</html>