<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<br>

<div class="container-fluid ">
            <div class="d-sm-flex justify-content-around content ">
                <div class="content-left text-center ms-5 ">
                    <br><br><br><br>
                    <h1 class="text-blue "><b>Bienvenidos!</b></h1>
                    <h2>La guía de los de sistemas.</h2>
                    <div class="description ">
                        <p class="fs-4 my-4 ">
                            La mejor de todas.
                        </p>
                    </div>
                    <a th:href="@{/listado}" class="btn btn-warning btn-lg my-3 text-white" role="button" aria-disabled="false"><b>Consultar el listado</b></a>
                </div>

                <div class="imagen ">
                    <br>
                    <img src="../static/images/undraw_books_re_8gea.svg" th:src="@{/images/undraw_books_re_8gea.svg}" class="img-responsive " height="400 ">
                </div>

            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br>



    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>